.slide
  height 100px
  left 0px
  right 0px
  bottom 0px
  display none
  width 100%
  position absolute
  background-color #ffffff
  ul
    margin-right 35px

    li
      float right
      a
        font-family 'Entypo Social'
        font-size 6em
        color #000000
        &:hover
          opacity .8
          cursor pointer

footer
  bottom 0px
  height 25px
  width 100%
  left 0px
  right 0px
  display inline-block
  cursor pointer
  background-color #ffffff


@media only screen and (max-width: 400px)
  .slide
    height 60px
    ul
      margin 0 auto
      text-align center
      li a
        font-size 4em

