footer#bottom-bar
  .slide
    ul
      li
        a(href='https://twitter.com/plimbs', target='_blank') &#62218;
      li
        a(href='http://www.linkedin.com/profile/view?id=166323995&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic', target='_blank') &#62233;
      li
        a(href='https://plus.google.com/u/0/114471072215598686699/about', target='_blank') &#62224;
      li
        a(href='http://instagram.com/plimbz', target='_blank') &#62253;
