extend layout
block content


  .main
    ul#og-grid.og-grid
      li
        a(href='http://www.neverunderdressed.com/', target='_blank', data-largesrc='/images/never-underdressed-expand.png', data-title='Never Underdressed', data-description='Never Underdressed is a digital fashion glossery owned by Shortlist Media. Whilst working at the agency Clock I came onto the project after a few months of front-end development had begun, I took direction from Pedro and added a responsive sign in/sign up model, an animated scroll to top, and a responsive gif site-title. I also worked in a team developing the landing page and responsive advertising.')
          img#animation(src='/images/never-underdressed.png', alt='never-underdressed-logo', data-caption='test')
      li
        a(href='http://www.mrhyde.com/', data-largesrc='/images/mr-hyde-expand.jpg', data-title='Mr Hyde', data-description='Mr Hyde is a daily email for men covering film, style, culture and places to eat meat, my first project assignment at Clock, I was responsible for the Front-end development of the site, it was the first site that I wrote in the node.js framework, and the first responsive site I developed, I had lots of guidance and input from a senior developer on this project, it became the foundation for everything I learnt thereafter. ')
          img(src='/images/mr-hyde.png', alt='mr-hyde.png')
      li
        a(href='http://www.studentmoneysaver.co.uk/', data-largesrc='/images/student-money-saver-expand.png', data-title='Student Money Saver', data-description='Student Money Saving is a website all about students living large and spending little. I worked in the Front-end development team developing phase 2 of the site, I was also available for hosting and support throughout the year.')
          img(src='images/sms.png', alt='student-money-saver-logo')
      li
        a(href='http://www.stonegatepubs.com/', data-largesrc='/images/stonegate-expand.png', data-title='Stonegate', data-description='Stonegate owns over 540 pubs and bars across the UK, I worked on the front end development of the latest booking system used across 11 templates for over 300 sites. I was also assigned to any support work during the year.')
          img(src='/images/stonegate.png', alt='stonegate-logo')
      li
        a(href='http://www.fimltd.co.uk/', data-largesrc='/images/FIM-expand.png', data-title='FIM', data-description='FIM Services Limited (FIM) was formed in 1979 and has over 34 years experience advising high-net worth individuals and institutions on asset backed investments. I was the sole front end developer for the whole site. ')
          img(src='/images/fim.png', alt='fim-logo.png')
      li
        a(href='http://www.gothinkbig.co.uk/', data-largesrc='/images/gothinkbig-expand.png', data-title='Go Think Big', data-description='O2 have teamed up with Bauer Publishing to bring you Go Think Big. This new initiative is aimed at helping young people get ahead in their careers. I came onto the project a few months after the initial development and contributed by developing some of the mobile first widgets along with any hosting and support work after first development.')
          img(src='/images/gothinkbig.png', alt='go-think-big-logo')
      li
        a(href='https://www.dreamteamfc.com/', data-largesrc='/images/dreamteam-expand.png', data-title='Dream Team', data-description='I worked with a senior developer building email templates for the sun’s dream team fantasy football game.')
          img(src='/images/dream-team.png', alt='dream-team-logo')
      li
        a(href='http://www.leadenhallcp.com/', data-largesrc='images/leadenhall-expand.png', data-title='Leadenhall', data-description='Leadenhall is a a London based investment manager wholly focused on investing in insurance linked investments portfolios for institutional investors. I did the front end build across the site. ')
          img(src='/images/leadenhall.png', alt='leadenhall-logo')
      li
        a(href='http://www.shortlist.com/', data-largesrc='/images/shortlist-expand.png', data-title='Shortlist', data-description='Shortlist gives expert advice on style and fitness, the latest in films, gaming, culture and technology. I did occasional support work for the site.')
          img(src='/images/shortlist.png')
      li
        a(href='http://clock.co.uk/', data-largesrc='images/clock-expand.png', data-title='Clock', data-description='Every client listed on this page is a clients of Clocks whom I contributed and collaborated with to create sound websites for an array of differing clients, you can read more about my time at Clock here. ')
          img(src='/images/clock.png', alt='clock-logo')
      li
        a(href='http://www.mytimesplus.co.uk/', data-largesrc='/images/timesplus-expand.png', data-title='Times Plus', data-description='Times+ membership is exclusive to subscribers. It brings readers closer to The Times and The Sunday Times, giving readers more of what they love and saving them money. I worked in a team developing new email templates for the client. ')
          img(src='/images/times-plus.png', alt='img02')
      li
        a(href='/profile', data-largesrc='/images/portrait2.jpg', data-title='Profile and Contact', data-description='If you would like to learn a bit about me and get in touch, please go straight to the profile and contact page!')
          img(src='/images/portrait.jpg')