#mobile-nav
  #nav-toggle
    a.m-toggle(href='#') Menu
  nav#mobile-navigation
    ul
      li
        a(href='/') work
      li
        a(href='/profile') profile & contact
.site-title
  h1
    a(href='/') Plimbs
nav.main-nav.dropdown-hover
  ul#nav
    li
      a(href='/') work
    li
      a(href='/profile') profile & contact
