extend layout
block content
  .wrapper
    .profile-container
      .col-1
        h2 Profile
        p Hey, I’m Sophie Plimbley, a front end web developer and digital media student at the University of Brighton, Last year I did an internship at the digital agency Clock, it is here I honed my skills in development and accumulated a peachy list of clients.
        p You can say hello at
          a.email(href='mailto:plimbsuni@gmail.com?Subject=Hello')  plimbsuni@gmail.com
        h2 Learning to Program
        p I fell into website development after deciding that studying business studies for the next 3 years just wasn't for me. I liked the challenge it bought and the tools it gave to create and build with the potential of reaching a lot of people. Now in my final year, I have started to learn javascript, I have been building this site with node.js, and so far so good!

      .col-2
        h2 Working at Clock
        p I worked at
          a(href='http://clock.co.uk/', target='_blank')  Clock 
          | during my placement year for 13 months, It is here that I have developed a range of skills in jade HTML5 / stylus / node.js / responsive development / cross browser testing / usability / and most importantly team collaboration within an outstanding agency. I also got the chance to write a few blog posts about FEL which are hosted on Clocks blog section of the site, you can read them 
          a(href='http://clock.co.uk/creative-blogs', target='_blank') here.
        h2 Stuff that I like
        p Snowboarding / Bikram Yoga / Music / Photography / Art / Films / Poetry / Literature
          / Cycling / Guitar / Burnt Toast / Instagram / Walking / Brighton Beach.
        h2.contact Contact
        ul.social-icons
          li
            a(href='https://twitter.com/plimbs', target='_blank') &#62218;
          li
            a(href='http://www.linkedin.com/profile/view?id=166323995&goback=%2Enmp_*1_*1_*1_*1_*1_*1_*1_*1_*1_*1&trk=spm_pic', target='_blank') &#62233;
          li
            a(href='https://plus.google.com/u/0/114471072215598686699/about', target='_blank') &#62224;
          li
            a(href='http://instagram.com/plimbz', target='_blank') &#62253;
      .profile-img
        img(src='/images/self-portrait.jpg')