.wrapper
  margin 0 55px

.profile-container
  padding 55px 30px 23px 30px

.col-1,
.col-2
  float left
  width 50%
  padding 20px
  h2
    margin-bottom 20px
    font-family $headingFontFamily
    text-transform uppercase
    font-weight 700
    color #ffffff
  .contact
    margin-bottom 0
  p
    margin-bottom 20px
    font-family: 'Muli', sans-serif
    line-height 1.2
    color #999
    font-size 14px
    a
      color #fff


.col-1
  padding 20px 20px 20px 0

.col-2
  padding 20px 0 20px 20px
  ul
    li
      float left
      margin-right 10px
      a
        font-family 'Entypo Social'
        font-size 3.5em
        color #ffffff
        &:hover
          opacity .8
          cursor pointer

.profile-img
  position relative
  clear both
  img
    display block
    height 100%
    width 100%
    margin 0 auto



@media only screen and (max-width: 1000px)
  .wrapper
    margin 0 30px


@media only screen and (max-width: 640px)
  .wrapper
    margin 0

  .profile-container
    padding 95px 30px 23px 30px

  .col-1,
  .col-2
    float none
    padding 0
    width 100%

  .social-icons
    margin-bottom 100px


@media only screen and (max-width: 400px)


  .profile-container
    padding 155px 30px 23px 30px

