//
// SETTINGS
// ========
// Project specific setings which can be changed to modify the basic look and
// feel of the project with little effort.
//


//
// ENABLE DEBUG STYLING
// Options are
// * error: Only critical bugs are shown
// * warning: Show error and warning bugs
// * all: Show error and warning bugs, as well as general tips / minor bugs
//

$debugMode = false
$debugLevel = 'all'


//
// LAYOUT
//

$baseMarginBottom = 1.5em
$maxWidth = 980px


//
// TYPOGRAPHY
//

$headingFontFamily = 'Montserrat'
$navigationFontFamily = $headingFontFamily

$baseFontFamily =  'Muli' , sans-serif
$baseFontSize = 93.75%
$baseLineHeight = 1.6em
$baseFontColor = #000
$baseBackgroundColor = #000000
$baseMarginBottom = 1.4em


//
// COLOURS
//

// Brand Colours
$colorPrimary = #ffffff
$colorSecondary = #000000




// Base Button / Notification Colours
$colorBase = #bbb
$colorBorder = #ccc

//
// FORM SPECIFIC
//

$textInputPadding = 5px
$inputBackgroundColor = #FFFFFF // Remove?


//
// GLOBAL VISUAL ELEMENTS
//

$baseBorderRadius = 0 // Set to 0 to disable
$baseBoxShadow = 0px 1px 4px rgba(69, 85, 93, 0.4) // Set to none to disable


//
// Grid settings
//

$gutter = 10px
